
header{
    height: 70px; 
}

main, aside{
    height: calc(100vh - 70px);
}
aside{
    background-color: #051E34;
    background-image: url(./img/sidebar-bg.png);
}
.logo-desk{
    display: none;
}
.logo-mobile{
    height: 50px;
    width: 50px;
}
header ul{
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
header li{
    padding: 0 10px;      
}
header ul li{
    display: none;
}
header ul .dropdown{
    display: block;
}
.fa-bell{
    color: #FF8F00;
}
aside ul{
    list-style: none;
    padding-left: 0;
}
aside ul li i{
    padding-right: 0.7rem;
    padding-bottom: 0.7rem; 
}
.row aside span{
    display: none;
}
aside div i{
    padding-right: 0.7rem;
}
.ms-bg-blue{
    background-color: #1B72E8;
}

.row aside{
    width: 100px;
}
main .container-fluid{
    padding: 0px;
}
.ms-btn{
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 10px;
    border-radius: 20%;
    font-size: 22px;
    font-weight: 700;
    margin-left: 16px;
}

table img{
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}
table td button{
    margin-right: 10px;
}
.card{
    margin-top: 2rem;
    
}
/*--------------
    MEDIA
------------- */
@media screen and (min-width: 768px){
   .logo-mobile{
    display: none;    
}
   .logo-desk{
    display: block;
}
    header ul li{
    display: block;
}
    .row aside{
    width: 150px;
}
    .row aside span{
    display: inline;
}

}